{% extends 'base.html.twig' %} 

{% block title %} Symfony {% endblock %}

{% block body %} 
    
    {% for article in articles %}
        <div class="jumbotron">
            <h3 class="card py-1 pl-2">{{ article.title}}</h3>
            <span>Date : {{ article.date.format('Y-m-d') }}</span>
            <br/>
                {% if article.image %}
                    <img src='{{ article.image }}' width="250px">
                {% endif %}
            
            <p class="card py-1 pl-2">{{ article.content}}</p>
        </div>
    {% endfor %}
{% endblock body %}